<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
</head>


<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">EJS Is Fun</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/weather/United%20States">Prognos</a>
            </li>
        </ul>
    </nav>
</header>
<%= weather %>
<div class="row">
<nav class="col-sm-3 ">
    <ul class="list-group">
        <% if(tobi==true){%>
        <% for(let key in cities){ %>
            <% if(key == weather){ %>
            <li class="list-group-item list-group-item-secondary">
                <a href="/weather/<%=key%>"> <%= cities[key] %> </a>
            </li>
            <% }else{ %>

            <li class="list-group-item">
                <a href="/weather/<%=key%>"> <%= cities[key] %> </a></li>
            <% } %>

            <% } %>  <% } %>
    </ul>
</nav>
<nav class="col-sm-9 ">
    <ul class="list-group d-flex justify-content-center">

        <% if(tobi==true){%>
<li class="list-group-item"><img src="https://www.accuweather.com/images/weathericons/3.svg" alt=""></li>



        <li class="list-group-item"><%= some_place['name'] %>  </li>
        <li class="list-group-item ">Температура <%= Math.round(some_place.main.temp)%>&deg</li>
        <li class="list-group-item">Погода <%= some_place.weather[0].description %> </li>
        <li class="list-group-item">Тиск <%= some_place.wind.deg%>  </li>
        <li class="list-group-item ">Швидкість вітру  <%= some_place.wind.speed %>  </li>

            <% } %>

    </ul>
</nav>

</div>

<footer>
    <%- include('partials/footer') %>
</footer>
</body>


</html>